.cover{
    background-image: url('../img/call-center-scaled.jpg');
    height: 80vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: #fff;
}

.cover h1{
    padding: 3rem;    
}

.sectiontext{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #0c4b77;
}

.sectiontext div{
    margin-bottom: 2rem;
}

.sectiontext p {
    text-align: center;
}