.registerFormContainer {
    padding: 1rem;
}

.imgRegistroForm {
    background-image: url('../img/registerImgForm2.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.imgForm {
    margin-bottom: 1rem;
}

.formRegister {
    background-color: #fff;
    width: 50%;
    border-radius: 2rem 0 0 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formRegister input,
.formRegister select {
    min-width: 30rem;
    margin-bottom: 0.5rem;
}

.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit button {
    min-width: 30rem;
    margin: 1.5rem;
    background-color: #0C4B77;
}

@media(max-width:769px) {
    .registerFormContainer {
        padding: 3rem;
    }

    .imgRegistroForm {
        background-image: none;
    }

    .formRegisterSection {
        border-radius: 2rem;
        background-color: #fff;
        padding: 3rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        justify-content: center;
    }

    .imgForm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;
    }

    .formRegister div {
        margin-bottom: 2rem;
    }

    .submit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .submit button {
        margin: 1rem 0;
        min-width: 35rem;
        font-size: 1.2rem;
    }

    .submitIcon {
        width: 10rem;
    }
}